@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.navbar{
    width: 100%;
    height: 140px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: white;
    position: fixed;
    z-index: 50;
}
.navbar li{
    list-style: none;
}
.nav-elements-2{
   display: flex;
   align-items: center;
}
.li-sec-banner{
    display: flex;
}
.nav-elements-2 li, a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    text-transform: uppercase;
    transition: all .5s;
}
.nav-elements-2 a:hover{
    color: #FF3271;
}
.nav-menu-bar{
    font-size: 20px;
}
.pink-menu-bar{
    position: absolute;
    right: 0;
    background-color: #FF3271;
    color: white;
    font-size: 25px;
    padding: 4px 12px;
    display: none;
}

.drop-down{
    position: absolute;
    width: 200px;
    height: auto;
    /* border: 1px solid black; */
    border-top: 3px solid #FF3271;
    background-color: white;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.616);
    margin-top: 25px;
    display: none;
}
.drop-down-items{
    width: 100%;
    min-height: 50px;
    /* border: 1px solid grey; */
    border-bottom: 1px solid grey;
    color: grey;
    text-transform: capitalize;
    padding: 15px 15px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
}
.drop-down-items::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF3271;
}
.drop-down-items:hover{
    color: #FF3271;
}
.drop-home:hover .drop-down-1{
    display: block;
}
.drop-about:hover .drop-down-2{
    display: block;
}
.drop-port:hover .drop-down-3{
    display: block;
}
.drop-blog:hover .drop-down-4{
    display: block;
}


/* section 2 */



#section-2{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    padding: 0 3%;
}
.text-1{
    text-align: center;
}
.text-margin{
    margin-top: 200px;
}
.text-1 h1{
    font-weight: 900;
    font-size: 80px;
    background-color: white;
    padding: 5px 20px;
}
.text-1 span{
    color: #ED4F4E;
}
.text-1 h2{
    color: white;
    margin-top: 30px;
}
#section-3{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/2.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 .span-3{
    color: #EEF091;
}
#section-4{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/3.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 .span-4{
    color: #0166D5;
}
#section-5{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/4.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 .span-5{
    color: #56DB91;
}
#section-6{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/5.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 .span-6{
    color: #EC5EB2;
}
#section-7{
    width: 100%;
    min-height: 100vh;
    background-image: url(images4/6.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 .span-7{
    color: #84418E;
}




/* footer  */



footer{
    width: 100%;
    height: auto;
    background-color: #F4F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}
#boxff{
    width: 500px;
    height: auto;
    /* border: 1px solid; */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy{
    font-size: 20px;
    margin-top: 15px;
}
.icon{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.icon1{
    /* margin-left: 150px; */
    margin-top: 30px;
    list-style: none;
}