@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html,body{

    overflow-x: hidden; 
}
.navbar{
    width: 100%;
    height: 140px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: white;
    position: fixed;
    z-index: 50;
}
.navbar li{
    list-style: none;
}
.nav-icons{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.ih{
    transition: all .5s;
    cursor: pointer;
}
.ih:hover{
    color: #FF3271;
}
.nav-icons li{
    margin: 0 13px;
}
.nav-elements-2{
   display: flex;
   align-items: center;
}
.nav-elements-2 li{
    padding-bottom: 12px;
    border: 1px solid transparent;
}
.li-sec-banner{
    display: flex;
}
.nav-elements-2 li, a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px;
    text-transform: uppercase;
    transition: all .5s;
}
.nav-elements-2 a:hover{
    color: #FF3271;
}
.nav-menu-bar{
    font-size: 20px;
}
.pink-menu-bar{
    position: absolute;
    right: 0;
    background-color: #FF3271;
    color: white;
    font-size: 25px;
    padding: 4px 12px;
    display: none;
}

.drop-down{
    position: absolute;
    width: 200px;
    height: auto;
    /* border: 1px solid black; */
    border-top: 3px solid #FF3271;
    background-color: white;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.616);
    margin-top: 15px;
    display: none;
}
.drop-down-items{
    width: 100%;
    min-height: 50px;
    /* border: 1px solid grey; */
    border-bottom: 1px solid grey;
    color: grey;
    text-transform: capitalize;
    padding: 15px 15px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
}
.drop-down-items::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF3271;
}
.drop-down-items:hover{
    color: #FF3271;
}
.drop-home:hover .drop-down-1{
    display: block;
}
.drop-about:hover .drop-down-2{
    display: block;
}
.drop-port:hover .drop-down-3{
    display: block;
}
.drop-blog:hover .drop-down-4{
    display: block;
}


/* section-1 */



#banner{
    width: 100%;
    min-height: 130vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1px 2.5%;
    padding-bottom: 150px;
}
.text-btn-sec-1{
    width: 70%;
    /* border: 1px solid; */
    text-align: center;
    margin-top: 100px;
    /* position: absolute; */
    /* z-index: 10; */
}
.yellow-circle{
    width: 130px;
    height: 130px;
    /* border: 1px solid; */
    border-radius: 50%;
    background-color: #FFE991;
 }
 .green-circle{
    width: 35px;
    height: 35px;
    margin-left: 650px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* background-color: #FFE991; */
 }
.sub-heading-1 h4{
    color: gray;
    margin-top:-150px;
}
.heading-1{
    margin: 10px 0;
}
.heading-1 h1{
    font-size: 72px;
    font-weight: 900;
    color: #353535;
}
.heading-1 span{
    color: #ed9eff;
    /*
     background-image:linear-gradient(#F98DF7, #CF8CFE); */
}
.para-1{
    display: flex;
    justify-content: center;
}
.para-1 p{
    color: grey;
    font-size: 17px;
    line-height: 1.5;
    width: 60%;
}
.button1{
    background-color: #FF3271;
    background-image:linear-gradient(#F98DF7, #CF8CFE);
    width: 200px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border: none;
    transition: all .5s;
    margin-top: 40px;
}
.button1:hover{
    background-image: linear-gradient(#CF8CFE, #F98DF7);
}



/* section-2 */



#section-2{
    width: 100%;
    min-height: 200vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
.grid-items-2{
    /* border: 2px solid; */
    position: relative;
}
.grid-items-2 img{
    width: 100%;
    height: 100%;
}
.grid-items-2::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 10%;
    transition:all 1s;
    opacity: 0;
}
.grid-items-2:hover::before{
    transform: rotateY(360deg) scale(1.1);
    opacity: .9;
}
.grid-text{
    position: relative;
    z-index: 20;
    text-align: center;
    color: grey;
    top: 0;
    left: 0;
    /* opacity: 0; */
}
.grid-text h3{
    font-weight: 900;
    color: black;
}
.item-7{
    grid-column: 3/5;
    grid-row: 2/4;
}
.item-5{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item-12{
    grid-column: 1/2;
    grid-row: 4/5;
}
.item-13{
    grid-column: 2/3;
    grid-row: 4/5;
}
.item-10{
    grid-column: 3/4;
    grid-row: 4/6;
}
.item-15{
    grid-column: 1/3;
    grid-row: 5/6;
}



footer{
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}
#boxff{
    width: 500px;
    height: auto;
    /* border: 1px solid; */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy{
    font-size: 20px;
    margin-top: 15px;
}
.icon{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.icon1{
    /* margin-left: 150px; */
    margin-top: 30px;
    list-style: none;
}